.dig-card-container {
	box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.22);
	display: flex;
	margin: 2em;
	width: 18em;
	min-height: fit-content;
	font-family: $fuente-primaria;
	border: none !important;
	border-radius: 1em !important;

	.dig-card-number {
		background-color: $color-primario;
		border-radius: 1em 1em 0 0 !important;
		color: white;
		font-size: 0.9em;
	}

	.dig-card-text {
		font-size: 0.9em;
        font-weight: bolder;
	}

	.dig-card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.dig-card-tema {
		font-size: 0.8em;
		background-color: $color-secundario;
		width: fit-content;
        font-style: italic;
        padding: 0.1em;
	}

	.dig-card-date {
		font-size: 0.8em;
		color: grey;
		font-style: italic;
	}

	.dig-card-download {
		@include boton-primario;
		font-size: 0.8em;
		border-radius: 0 0 1em 1em;
	}
}
