.leg-landing-container {
	display: flex;
	padding: 2em;
	height: 32em;
	width: 100vw;
	justify-content: center;

	.leg-text-container {
		display: flex;
		width: 40%;
		flex-direction: column;
		justify-content: center;

		.leg-title {
			font-family: $fuente-primaria;
			font-size: 1.5em;
			font-weight: bolder;
			margin-bottom: 0.5em;
		}

		.leg-input {
			display: flex;
			padding: 1em;
			font-size: 0.9em;
			font-family: $fuente-primaria;
			border-radius: 1.5em;
			color: $color-primario;
			margin-bottom: 1em;
			border: 1px solid $color-secundario;
			transition: 0.2s;

			&:focus {
				outline: 2px solid $color-secundario;
			}
		}

		.home-dots {
			width: 30%;
			margin-bottom: 0.5em;
		}

		.leg-text-container {
			display: flex;
			font-family: $fuente-primaria;
			width: 100%;
			font-size: 0.9em;

			.tooltip-word {
				background-color: $color-secundario;
				font-weight: bold;
				padding: 0 0.2em;
			}
		}

	}
	.leg-img-container {
		display: flex;
		width: 30em;
		align-items: center;
		justify-content: flex-end;
	}
}
