@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;410;900&display=swap');
@import '../../Theme.scss';

.navbar-container {
	background-color: $color-primario;
	width: 100vw;
	margin-bottom: 2em;

	.navbar-logo {
		font-family: $fuente-primaria;
		color: white;
		text-decoration: none;
		font-weight: bolder;
		font-size: 1.2vw;
	}

	.navbar-logo:hover {
		color: white;
	}

	.navbar-links {
		font-family: $fuente-primaria;
		font-size: 1vw;
	}

	.navbar-link-button {
		color: white !important;
		margin-left: 2em;
		font-weight: bold;
		text-decoration: none;
		padding: 0.2em;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: $color-secundario;
			transition: width 0.2s ease-out;
		}

		&:hover:before {
			width: 100%;
		}
	}
}
