@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;410;900&display=swap');
.navbar-container {
	background-color: #eb164d;
}

.navbar-logo {
	width: 20em;
}

.navbar-links {
	font-family: 'Raleway', sans-serif;
}

.navbar-link-button {
	color: white !important;
	margin-left: 2em;
	font-weight: bold;
	text-decoration: none;
	padding: 0.2em;
	position: relative;
}

.navbar-link-button:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #febe39;
	transition: width 0.2s ease-out;
}

.navbar-link-button:hover:before {
	width: 100%;
}
