.timeline-container {
	background-color: $color-terciario;
	width: 100vw;
    padding: 0 2em;
    font-family: $fuente-primaria;

    .vertical-timeline-element-title{
        font-weight: bolder;
        background-color: $color-secundario;
        width: fit-content;
        padding: 0 0.2em;
 
    }

	.vertical-timeline-element-subtitle{
        text-decoration: underline;
        background-color: $color-secundario;
        width: fit-content;
        padding: 0 0.2em;
    }

    .vertical-timeline-element-date{
        font-weight: bolder !important;
        opacity: 1 !important;
        color: white;
    }
}
