@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;410;900&display=swap");
.navbar-container {
  background-color: #eb164d;
  width: 100vw;
}
.navbar-container .navbar-logo {
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}
.navbar-container .navbar-logo:hover {
  color: white;
}
.navbar-container .navbar-links {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}
.navbar-container .navbar-link-button {
  color: white !important;
  margin-left: 2em;
  font-weight: bold;
  text-decoration: none;
  padding: 0.2em;
  position: relative;
}
.navbar-container .navbar-link-button:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #febe39;
  transition: width 0.2s ease-out;
}
.navbar-container .navbar-link-button:hover:before {
  width: 100%;
}

.news-card-container {
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.22);
  display: flex;
  font-family: "Raleway", sans-serif;
  margin: 2em;
  width: 25em;
  height: 27em;
  border-radius: 1em;
  text-decoration: none !important;
  transition: 0.2s;
  align-items: flex-end;
}
.news-card-container:hover {
  transform: scale(103%);
}
.news-card-container .card-news-text {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  background-color: #eb164d;
  border-radius: 0 0 1em 1em;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.22);
}
.news-card-container .card-news-text .solid {
  color: white;
  margin: 0.5em 0 1em;
}
.news-card-container .card-news-text .card-title {
  font-size: 1.1em;
  color: white;
  font-weight: bold;
}
.news-card-container .card-news-text .card-subtitle {
  font-size: 0.9em;
  color: white;
  font-style: italic;
}
.news-card-container .card-news-button {
  background-color: #eb164d !important;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: none !important;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
}
.news-card-container .card-news-button:hover {
  background-color: #b8143d !important;
}

.news-list-container {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.news-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: space-around;
  background-color: #85aad8;
  padding: 2em 2em;
}
.news-container .news-container-button {
  background-color: #eb164d !important;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: none !important;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  margin: 1em 1em;
}
.news-container .news-container-button:hover {
  background-color: #b8143d !important;
}

.spinner {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  padding: 2em;
  height: 40em;
  width: 100vw;
  justify-content: center;
}
.home-container .home-text-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}
.home-container .home-text-container .home-title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  padding-bottom: 0.5em;
}
.home-container .home-text-container .home-text {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  padding-bottom: 1em;
}
.home-container .home-text-container .home-dots {
  width: 30%;
}
.home-container .home-img-container {
  display: flex;
  width: 45em;
  align-items: center;
  justify-content: center;
}
.home-container .second-img-container {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  width: 100vw;
  background-color: #eb164d;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;
}
.footer-container .footer-logo-container {
  display: flex;
  padding: 2em;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}
.footer-container .footer-logo-container .footer-logo {
  display: flex;
  width: 15em;
}
.footer-container .footer-datos-contaier {
  display: flex;
  width: 20%;
  color: white;
  margin-top: 1em;
  font-size: 0.8em;
  flex-direction: column;
  align-items: flex-end;
}
.footer-container .footer-datos-contaier ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  text-align: right;
}
.footer-container .footer-datos-contaier li {
  margin-bottom: 0.5em;
}
.footer-container .footer-datos-contaier span {
  font-weight: bold;
}
.footer-container .footer-datos-contaier .rrss-icons-container {
  display: flex;
  justify-content: right;
  width: 100%;
}
.footer-container .footer-datos-contaier .rrss-icons-container a {
  text-decoration: none;
}
.footer-container .footer-datos-contaier .rrss-icons-container .rrss-icons {
  display: flex;
  margin-left: 1em;
  font-size: 1.2em;
  transition: 0.2s;
  color: white;
}
.footer-container .footer-datos-contaier .rrss-icons-container .rrss-icons:hover {
  color: #febe39;
}
.footer-container .footer-form-container {
  display: flex;
  width: 30%;
  justify-content: left;
}
.footer-container .footer-form-container .form-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  padding: 1.5em 0 1.5em;
}
.footer-container .footer-form-container .input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-container .footer-form-container .input-group .form-input {
  width: 49%;
  margin-bottom: 0.3em;
  font-size: 0.7em;
  border: none;
  padding: 0.3em;
}
.footer-container .footer-form-container .form-title {
  color: white;
  font-size: 1em;
}
.footer-container .footer-form-container .form-textarea {
  margin-top: 0.3em;
  font-size: 0.7em;
  border: none;
  padding: 0.3em;
}
.footer-container .footer-form-container .form-submit {
  font-size: 0.7em;
  border: none;
  width: fit-content;
  padding: 0.3em;
  margin-top: 0.3em;
  transition: 0.2s;
}
.footer-container .footer-form-container .form-submit:hover {
  background-color: #febe39;
}

.news-detail-container {
  display: flex;
  width: 100vw;
  padding: 2em;
}

.news-detail {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2em;
}
.news-detail .news-detail-text {
  width: 50%;
}
.news-detail .news-detail-text h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
  background-color: #febe39;
  width: fit-content;
  padding: 0.5em;
}
.news-detail .news-detail-text p {
  font-size: 1em;
  margin-bottom: 1em;
}
.news-detail .news-detail-text h3 {
  font-size: 0.8em;
  color: grey;
  font-style: italic;
  margin-bottom: 1em;
}
.news-detail .news-detail-text img {
  width: 13em;
  margin-bottom: 1em;
}
.news-detail .news-detail-text .news-detail-button {
  background-color: #eb164d !important;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: none !important;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
}
.news-detail .news-detail-text .news-detail-button:hover {
  background-color: #b8143d !important;
}
.news-detail .news-img-container {
  width: 30%;
}
.news-detail .news-img-container img {
  width: 100%;
}

.leg-landing-container {
  display: flex;
  padding: 2em;
  height: 40em;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}
.leg-landing-container .leg-text-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}
.leg-landing-container .leg-text-container .leg-title {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  padding-bottom: 1em;
}
.leg-landing-container .leg-text-container .leg-input {
  display: flex;
  padding: 1em;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border-radius: 1.5em;
  color: #eb164d;
  margin-bottom: 2em;
  border: 1px solid #febe39;
  transition: 0.2s;
}
.leg-landing-container .leg-text-container .leg-input:focus {
  outline: 2px solid #febe39;
}
.leg-landing-container .leg-text-container .home-dots {
  width: 30%;
  margin-bottom: 2em;
}
.leg-landing-container .leg-text-container .leg-text-container {
  display: flex;
  font-family: "Raleway", sans-serif;
  width: 100%;
}
.leg-landing-container .leg-text-container .leg-text-container .tooltip-word {
  background-color: #febe39;
  font-weight: bold;
  padding: 0 0.2em;
}
.leg-landing-container .leg-text-container .leg-img-container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.leg-firebase-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: space-around;
  background-color: #febe39;
  padding: 2em 2em;
}
.leg-firebase-container .leg-container-button {
  background-color: #eb164d !important;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: none !important;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  margin: 1em 1em;
}
.leg-firebase-container .leg-container-button:hover {
  background-color: #b8143d !important;
}

.digesto-list-container {
  display: flex;
  width: 90vw;
  justify-content: center;
  flex-wrap: wrap;
}

.dig-card-container {
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.22);
  display: flex;
  margin: 2em;
  width: 18em;
  min-height: fit-content;
  font-family: "Raleway", sans-serif;
  border: none !important;
  border-radius: 1em !important;
}
.dig-card-container .dig-card-number {
  background-color: #eb164d;
  border-radius: 1em 1em 0 0 !important;
  color: white;
  font-size: 0.9em;
}
.dig-card-container .dig-card-text {
  font-size: 0.9em;
  font-weight: bolder;
}
.dig-card-container .dig-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dig-card-container .dig-card-tema {
  font-size: 0.8em;
  background-color: #febe39;
  width: fit-content;
  font-style: italic;
  padding: 0.1em;
}
.dig-card-container .dig-card-date {
  font-size: 0.8em;
  color: grey;
  font-style: italic;
}
.dig-card-container .dig-card-download {
  background-color: #eb164d !important;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: none !important;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border-radius: 0 0 1em 1em;
}
.dig-card-container .dig-card-download:hover {
  background-color: #b8143d !important;
}

.leg-button {
  background-color: #eb164d !important;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  border: none !important;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.leg-button:hover {
  background-color: #b8143d !important;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/*# sourceMappingURL=App.css.map */
